ipympl==0.6.2
sqlalchemy==1.3.19
statsmodels==0.11.1
wheel
git+https://github.com/stefmolin/login-attempt-simulator.git@2nd_edition
git+https://github.com/stefmolin/ml-utils.git@2nd_edition
git+https://github.com/stefmolin/stock-analysis.git@2nd_edition
./visual-aids
